* {
  border: none;
  border-radius: 7px;
  font-family: Jetbrains Mono Nerd Font;
  font-size: 15.5px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base00, 1);
}

/* Workspaces */
#workspaces {
  background: shade(@base00, 2);
  margin: 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
}
#workspaces button {
  padding: 0px 4px;
  margin: 1px 1px;
  min-width: 1px;
  border-radius: 4px;
  color: @base04;
  background: rgba(21, 24, 24, 0);
  transition: 0;
}

#workspaces button.active {
  background: shade(@base0D, 0.6);
  color: alpha(@base00, 1);
  border-radius: 4px;
  min-width: 0;
  background-size: 0;
  transition: none;
}
#workspaces button:hover {
  background-color: alpha(@base0F, 1);
  color: #000000;
  min-width: 0;
  background-size: 0;
}
/**/

/* Colors */
#tray,
#pulseaudio,
#network,
#battery,
#bluetooth,
#pulseaudio-slider slider,
#pulseaudio-slider trough,
#pulseaudio-slider,
#custom-notification,
#clock,
#idle_inhibitor,
#custom-playerctl {
  color: alpha(@base0D, 1);
  background-color: rgba(24, 28, 28, 0);
}
/**/

/* Defaults */
#pulseaudio,
#network,
#battery,
#pulseaudio-slider,
#idle_inhibitor,
#custom-playerctl,
#bluetooth {
  background-color: shade(@base00, 1.5);
  font-weight: bold;
  margin: 0px 0px;
  border-radius: 0px;
  padding: 0 10px;
  margin-left: 7px;
}
/**/

/* Custom */
#bluetooth {
  border-radius: 0px;
  padding-left: 5px;
  margin-left: 0;
}
#idle_inhibitor {
  border-radius: 5px;
  padding-right: 17px;
}
#battery {
  border-radius: 0px 5px 5px 0px;
  margin-left: 0;
}
#network {
  border-radius: 5px 0px 0px 5px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 5px;
}
#custom-notification {
  border-radius: 0 5px 5px 0;
  padding: 5px 15px 5px 17px;
}
#clock,
#custom-notification {
  background-color: shade(@base02, 0.6);
}
#clock {
  padding: 0px 5px 0px 15px;
  margin-left: 0px;
  margin: 0px 0px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
}
#tray {
  background-color: shade(@base01, 0.8);
  padding-right: 7px;
  padding-left: 2px;
  margin: 5px 7px 5px 20px;
}
#tray menu {
  color: alpha(@base04, 1);
  background-color: #181818;
  border-radius: 7px;
  padding: 10px;
  border: 3px solid;
  border-color: alpha(@base01, 0.6);
  font-weight: bold;
}
#tray menu menuitem:hover {
  background-color: shade(@base0B, 0.6);
  border-radius: 10px;
}
#custom-playerctl {
  border-radius: 5px;
  color: alpha(@base0B, 1);
}
#pulseaudio {
  color: @base0D;
  border-radius: 5px 0 0 5px;
}
#pulseaudio.muted {
  color: @base0A;
}
#pulseaudio-slider {
  margin: 0px 0 0px 0;
  padding: 0 20px 0 0px;
  border-radius: 0 5px 5px 0;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  background-color: alpha(@base01, 1);
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 90px;
  border-radius: 5px;
  background-color: shade(@base04, 0.5);
}
#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background-color: @base0D;
  color: @base00;
}
