* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: alpha(@base00, 1);
}

button {
  border-radius: 0;
  border-color: black;
  text-decoration-color: #ffffff;
  color: alpha(@base04, 1);
  background-color: alpha(@base01, 1);
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: shade(@base0F, 0.5);
  outline-style: none;
}

#lock {
  background-image: image(url('icons/lock.png'));
}

#logout {
  background-image: image(url('icons/logout.png'));
}

#suspend {
  background-image: image(url('icons/suspend.png'));
}

#hibernate {
  background-image: image(url('icons/hibernate.png'));
}

#shutdown {
  background-image: image(url('icons/shutdown.png'));
}

#reboot {
  background-image: image(url('icons/reboot.png'));
}
