* {
  font-size: 15.5px;
}

window {
  background-color: transparent;
}

.bar {
  background-color: @base00;
  color: @base04;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border: 3px solid transparent;
}

button:active {
  border: 3px solid @base0D;
}

button:hover {
  border: 3px solid @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border: 3px solid @base02;
}

.client-title {
  color: @theme_selected_bg_color;
}

.notification {
  color: grey;
}

levelbar block,
highlight {
  min-height: 2px;
  min-width: 5px;
}

slider {
  min-height: 1px;
}

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid @wm_borders_edge;
  background-color: @theme_bg_color;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.4em;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

.player {
  padding: 10px;
  background-color: shade(@base0F, 0.25);
  margin-top: 10px;
  border-radius: 10px;
  border: 6px solid shade(@base0B, 0.2);
  min-width: 350px;
}

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.player .title {
  font-size: 1.2em;
}

.player .artist {
  font-size: 1.1em;
  color: @insensitive_fg_color;
}

.player scale.position {
  padding: 0;
  margin-bottom: 0.3em;
}

.player scale.position trough {
  min-height: 8px;
}

.player scale.position highlight {
  background-color: @theme_fg_color;
}

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: 0.3em;
}

.player button.play-pause {
  margin: 0 0.3em;
}

.volume label .muted {
  color: @base0E;
}
