(
        address: "MPD_ADDR:MPD_PORT",
        password: None,
        theme: None,
        cache_dir: None,
        on_song_change: None,
        volume_step: 5,
        max_fps: 30,
        scrolloff: 0,
        wrap_navigation: false,
        enable_mouse: true,
        enable_config_hot_reload: true,
        select_current_song_on_change: false,
        browser_song_sort: [Disc, Track, Artist, Title],
        rewind_to_start_sec: Some(10),
        cava: (
                framerate: 60,
                autosens: true,
                sensitivity: 100,
                input: (
                        method: Fifo,
                        source: "/tmp/mpd.fifo",
                        sample_rate: 44100,
                        channels: 2,
                        sample_bits: 16,
                ),
                smoothing: (
                        noise_reduction: 77,
                        monstercat: false,
                        waves: false,
                ),
                eq: []
        ),
        tabs: [
                (
                        name: "Queue",
                        pane: Split(
                        direction: Horizontal,
                        panes: [

                                (size: "40%", pane: Pane(AlbumArt)),

                                (size: "60%", pane: Split(

                                direction: Vertical,

                                panes: [

                                        (size: "50%", pane: Pane(Queue)),

                                        (size: "50%", pane: Pane(Cava)),

                                ],

                                )),

                        ],

                        ),

                ),
        ],
)
