@import "colors.scss";

/* @import "styles/tray.scss"; */
/* @import "styles/workspace.scss"; */
/* @import "styles/system.scss"; */
/* @import "styles/stats.scss"; */
/* @import "styles/center.scss"; */
/* @import "styles/osd.scss"; */
/* @import "styles/notification.scss"; */
@import "utils.scss";
@import "mixins.scss";

* {
  font-family: "FantasqueSansM Nerd Font";
  border-radius: 7px;
  font-size: 17px;
}


button:active,
button:focus {
  outline: none;
}

#workspaces {
  button {
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: none;
    box-shadow: none;
    transition: none;

    &.focused {
      background-color: $base03;
    }
  }
}


#tray button.arrow {
  margin-left: 7px;
}

#dot-icon {
  padding-left: 8px;
  padding-bottom: 10px;
}

#osd {
  padding: 12px;
  border: 2px solid;
}

#power-menu button {
  margin-left: 3px;
  margin-right: 3px;
}

#music-player {
  button {
    margin-right: 3px;
  }

  label.position {
    font-size: 14px;
    padding-left: 9px;
    padding-right: 0px;
  }
}

#music-player carousel,
#notification-center,
#calendar {
  background-color: $base02;
  border: 1px solid;
  margin: 6px;
  padding: 5px;
}

#calendar button image {
  all: unset;
  background-color: white;
  color: white;
  border-radius: 200px;
}