@import "colors.scss";

$radius: 7px;
$font-family: "FantasqueSansM Nerd Font";

* {
    all: unset;
    font-family: $font-family;
    font-size: 17px;
}

@import "styles/tray.scss";
@import "styles/workspace.scss";
@import "styles/system.scss";
@import "styles/stats.scss";
@import "styles/center.scss";
@import "styles/osd.scss";
@import "styles/notification.scss";
@import "utils.scss";
@import "mixins.scss";

button {
    border-radius: $radius;
}

#bar {
    background-color: $base00;
    padding: 6px;
    margin: 1px;

    window {
        border-radius: $radius;
    }
}

tooltip {
    background-color: $base01;
    border-color: $base09;
    border-width: 1px;
    border-radius: $radius;
    border-style: solid;
    padding: 6px;
}

box {
    border-radius: $radius;
}
