#bar {
    box {
        &.center {
            background-color: shade($base04, 0.4);
        }
    }
}

#clock,
#music,
#notification-icon {
    padding-left: 9px;
    padding-right: 9px;
}

#music {
    background-color: shade($base04, 0.2);
    margin-right: 2px;

    button {

        &.previous,
        &.pause-play,
        &.next {
            padding-left: 1px;
            padding-right: 1px;
            background-color: $base03;
        }
    }
}

#clock {
    background-color: shade($base0F, 0.4);
}

#notification-icon {
    background-color: shade($base0F, 0.4);

    color: $base06;

    #dot-icon,
    #number-overlay {
        all: unset;
        font-size: 4px;
        font-family: $font-family;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    #dot-icon {
        color: $base07;
    }

    &.empty {
        color: shade($base06, 0.6);
    }

    &.dnd {
        color: shade($base06, 0.6);
    }
}
