#osd {
    background-color: $base00;
    border-radius: 6px;
    margin-right: 35px;
    border: 2px solid $base0A;
    padding: 16px;
    box {
        image {
            size: 12px;
        }

        label {
            color: $base06;
            font-size: 25px;
            margin-left: 14px;
            margin-right: 14px;
            min-width: 70px;
        }

        progressbar {
            min-width: 25px;
            min-height: 345px;
            background-color: transparent;
            border-radius: $radius;
            background-image: none;
            trough {
                min-height: 6px;
                min-width: 25px;
                background-image: none;
                background-color: $base02;
                progress {
                    min-width: 25px;
                    min-height: 6px;
                    background-image: none;
                    background-color: $base0A;
                }
            }
        }
    }
}
