#sys-tray {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3px;
    background-color: shade($base02, 0.9);
    font-size: 16px;
    menubutton {
        margin-left: 2px;
        background-color: transparent;
        popover {
            modelbutton {
                label {
                    color: $base0A;
                }
                :hover {
                    background-color: shade($base0F, 0.5);
                }
                arrow {
                    background-color: $base03;
                    border-radius: 6px;
                }
                border: 0.1px solid $base0A;
                border-radius: 6px;
                padding: 5px;
                padding-top: 2px;
                :disabled {
                    color: shade($base03, 0.7);
                }
            }
            box {
                border-radius: 6px;
                border: 0.4px hidden shade($base0F, 0.9);
            }
            border-style: solid;
            border-width: 2px;
            border-color: $base03;
            margin-top: 14px;
            padding: 8px;
            padding-top: 2px;
            background-color: shade($base00, 0.3);
            border-radius: 16px;
        }
    }
}
