exec-start "foot"
exec-start "btop"
exec-start "copyq"
exec-start "soteria"
exec-start "noctalia-shell"
exec-start "hyprpolkitagent"
exec-start "awww-daemon"
exec "awww" "img" "~/snow/Wallpapers/images/amongst_the_flowers.png"
exec-start "nix" "shell" "nixpkgs#dms-shell" "nixpkgs#quickshell" "--command" "dms" "run"
