general {
    enable-xwayland
    layout "dwindle"
    layouts {
        master {
            ratio 55.0
        }
        dwindle {
            orientation "vertical"
        }
    }
    focus-model "follow-mouse"
    window-placement-mode "tab"
}


output HDMI-A-1 {
    mode "1920x1080@70"
    scale 1.0
}

workspace 1 name="Work"
workspace 2 name="browser"
workspace 3 name="Files"
workspace 4 name="OBS"
workspace 5 name="Music"
workspace 6 name="Media"
workspace 7 name="Games"
workspace 8 name="Studio"
workspace 9 name="Docs"

source "style.kdl" "input.kdl" "binds.kdl" "env.kdl" "rules.kdl" "autostart.kdl" "marks.kdl"
