general {
    enable-xwayland
    allow-tearing
}

input {
    keyboard {
        repeat-rate 50
        repeat-delay 100
    }
}

output "eDP-1" {
    mode "1366x786@60"
    scale 1.0
}

style {
    prefer-no-csd
    blur {
        enabled
        size 3
        passes 2
    }
}

workspace 1 name="Work"
workspace 2 name="browser"
workspace 3 name="Files"
workspace 4 name="OBS"

source "binds.kdl" "autostart.kdl" "env.kdl" "rules.kdl"
