window-rule {
    match app-id="^Neovide$"
    placement-mode "tab"
    open-on-workspace name="Coding"
}

window-rule {
    match app-id="^foot$" title="^btop$"
    placement-mode "tab"
    open-on-workspace name="System Info"
}
